<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="connectionMaker" class="tobi.study.user.XML을_이용한_설정_1_8.DConnectionMaker" />-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource" />

    <bean id="userDao" class="tobi.study.user.XML을_이용한_설정_1_8.UserDao">
        <property name="connectionMaker" ref="connectionMaker" />
    </bean>
</beans>